/* Footer Styles */
@import '../variables.css';

.footer {
    background-color: var(--on-background);
    color: #fff;
    padding: 50px 0;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%23ffffff" fill-opacity="0.05" d="M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,133.3C672,139,768,181,864,197.3C960,213,1056,203,1152,176C1248,149,1344,107,1392,85.3L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"%3E%3C/path%3E%3C/svg%3E');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;
    z-index: 0;
}

.footer .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
}

.social-links a {
    color: #fff;
    margin-left: 15px;
    font-size: 1.2rem;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-links a:hover {
    color: var(--accent-color);
    transform: translateY(-3px);
}
